p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

h1 {font-family: Avenir, Helvetica, sans-serif;}
h2 {font-family: Avenir, Helvetica, sans-serif; color: #3FAAE0;}
h3 {font-family: Avenir, Helvetica, sans-serif; color: #F39331;}
h4 {font-family: Avenir, Helvetica, sans-serif;}
h5 {font-family: Avenir, Helvetica, sans-serif;}
h6 {font-family: Avenir, Helvetica, sans-serif;}

.invention {
  padding: 1em 1em 1em 4em;
  margin-bottom: 5px;
  background: #F39331;
  color:#FFF;
  position:relative;
  border-radius: 25px;
  box-shadow: #f2b230 0.5em 0.5em 0.3em;
  /*background-image: url("img/burst_50.png");*/
}

/*
.invention:before {
  content: "";
  background-image:url(img/burst.png);
  background-size: 100% 100%;
  left:5px;
  position:absolute;
  top:0;
  height: 50px;
  width:50px;
 }
*/

